#
*~
*_v1.ipynb

.ipynb_checkpoints
__pycache__
libitmal/MNIST_data.pkl.gz
Old

Etc/LaTeX_demo/demo.aux
Etc/LaTeX_demo/demo.log

L07/Yolov5_setup/temp.jpg
L07/Yolov5_setup/yolov5
L07/Yolov5_setup/yolov5s.pt
L07/Yolov5_setup/Figs/DemoFigs/
L07/Yolov5_setup/Figs/*.jpg
L07/Yolov5_setup/Figs/*.png

L10/NanoGPT/data
L10/NanoGPT/out-*
L10/NanoGPT/Slides_*

L10/Extra/DeepSeek/install.sh